.content{
    color: #000000;
    font-size: 24px; /* Ajusta el tamaño de la letra */
    text-align: justify;
}
.main-image {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: auto;
}

.main-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

@media (max-width: 1024px) {
    .content{
        color: #000000;
        font-size: 19px; /* Ajusta el tamaño de la letra */
    }
    .custom-image {
        max-width: 300px; /* Adjust the width as needed */
        max-height: 200px; /* Adjust the height as needed */
        width: auto;
        height: auto;
    }

}

@media (max-width: 768px) {
    .content{
        color: #000000;
        font-size: 14px; /* Ajusta el tamaño de la letra */
    }
    .custom-image {
        max-width: 300px; /* Adjust the width as needed */
        max-height: 200px; /* Adjust the height as needed */
        width: auto;
        height: auto;
    }
    .columns.is-mobile {
        display: flex;
        flex-wrap: nowrap; /* Asegura que las columnas no se envuelvan a la siguiente línea */
    }

    
}


