
.main-image {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: auto;
}
.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .service-box img {
    max-width: 100%;
  }
.main-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

 /* servicioos */
 .service-box {
    position: relative;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-block: 0.5rem;
}
.service-box:hover {
    transform: scale(1.05);
}

  .is-gapless{
    flex-wrap: wrap; /* Ensure columns wrap to next line if needed */

  }
.img-soat{
    display: block;
    max-width: 100%; /* Ensure the image scales properly */
    height: auto; /* Maintain aspect ratio */
    margin-left: 100px; /* Adjust this value to move the image to the right */
    margin: auto;
}
@media (max-width: 1024px) {
    .has-text-centered{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .has-text-centered{
        font-size: 19px;
    }
    
    .columns.is-multiline {
        display: flex;
        flex-wrap: wrap;
    }

    .column.is-one-third {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;

    }
}
